@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Total Product</h1>
    <a href="~/Product" style="width:200px;" type="button" class="btn btn-success"><span id="totalProduct"></span></a>
</div>

@section Scripts {
    <script src="~/js/dashboard_push_notification.js"></script>
}